body {
    display: grid;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(10, 60px);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #999;
}

.cell.reachable {
    background-color: #e0f0ff;
}


.p1 {
    color: blue;
}

.p2 {
    color: red;
}

.unit.selected {
    text-decoration: underline;
}